<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541313205758-1jqebs9p7u695rh5tirlpspj34te7j3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541313205758-1jqebs9p7u695rh5tirlpspj34te7j3k</string>
	<key>API_KEY</key>
	<string>AIzaSyDt6FXZwWQMABJGbSUjig4XnYeAes7pvwM</string>
	<key>GCM_SENDER_ID</key>
	<string>541313205758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myTherapy</string>
	<key>PROJECT_ID</key>
	<string>mytherapyauth</string>
	<key>STORAGE_BUCKET</key>
	<string>mytherapyauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541313205758:ios:0327f2f5ac86e2076cacaf</string>
</dict>
</plist>